
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background-color: d9d9d9;
}

.blockmenu {
padding: 10px;
height: 70px;
width: 100%;
background: black;
font-family: 'Roboto Slab', serif;
color: black;
font-size: 30px;
border: 30px black;
position: fixed;
}

.menu {
	padding-left: 200px;
	margin: 0 0 0 auto;
	width: 1000px;
}

.logo {
	display: inline-block;
	margin: 0 auto 0 0
	border: 1px white;
	color: white;
	position: absolute;
	top: 20px;
	left: 20px;
}

.logo:hover {
	background: linear-gradient(45deg, #20ecc3 33%, #f10fd5 66%, #8AA9D6);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.menu a {
	display: inline-block;
	padding: 10px;
	margin: 0 auto;

}

.menu a:visited
{
  color: white;
}

.menu a:hover
{
	background: linear-gradient(45deg, #20ecc3 33%, #f10fd5 66%, #8AA9D6);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.menu a:active
{
color: black;

}

.text {
color: black;
font-size: 30px;
padding: 100px;
text-align: center;

}

.text::first-letter {
color: white;
font-size: 50px;
}

.text:hover::first-letter {
color: black;
font-size: 50px;
}

.images {
	padding-left: 300px;
	width: auto;
	margin: 0 auto;
	padding-bottom: 150px;
}
.photo1, .photo2 {
	margin-right: 100px;
	display: inline-block;
	width: auto;
	height: 300px;
	border: 7px solid white;
}

.photo1:hover{
	border: 7px solid black;
}

.photo2:hover{
	border: 7px solid black;
}

.photo3:hover{
	border: 7px solid black;
}


.photo3 {
	display: inline-block;
	width: auto;
	height: 300px;
	border: 7px solid white;
}

footer {
width:100%;
height: 70px;
width: 100%;
background: black;
font-family: 'Roboto Slab', serif;
color: black;
font-size: 30px;
}

.icon {
	margin-top: 10px;
	margin-left: 15px;
	width: auto;
	height: 50px;
}
